/* .navigate-console[_ngcontent-meb-c2] {
    cursor: pointer;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item[_ngcontent-meb-c2] {
    color: #494949 !important;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu[_ngcontent-meb-c2] {
    font-size: 16px !important;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 7px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 190px;
    position: absolute;
    right: 0;
    left: auto;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-toggle[_ngcontent-meb-c2] {
    text-align: right;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
} */
/* current user */
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
body[_ngcontent-gwf-c1] {
    font-family: Roboto, Arial, sans-serif;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .d-lg-inline-block {
        display: inline-block!important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.d-none
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.ml-auto, .mx-auto {
    margin-left: 800px !important;

}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
i {
    font-style: italic;
}
.bg-white {
    background-color: #fff;
    color: #1f2d3d!important;
}
.text-dark {
    color: #343a40!important;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.brand-image {
    float: left;
    line-height: .8;
    max-height: 34px;
    width: auto;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: .5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

/* img {
    vertical-align: middle;
    border-style: none;
    height: 25px;
} */


/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
   
    @import url(http://fonts.googleapis.com/css?family=Roboto);

    * {
    font-family: 'Roboto', sans-serif;
    }

    #login-modal .modal-dialog {
    width: 350px;
    }

    #login-modal input[type=text], input[type=password] {
    margin-top: 10px;
    }

    #div-login-msg,
    #div-lost-msg,
    #div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
    }

    #div-login-msg.success,
    #div-lost-msg.success,
    #div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
    }

    #div-login-msg.error,
    #div-lost-msg.error,
    #div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
    }

    #icon-login-msg,
    #icon-lost-msg,
    #icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
    }

    #icon-login-msg.success,
    #icon-lost-msg.success,
    #icon-register-msg.success {
    background-color: #68c3a3 !important;
    }

    #icon-login-msg.error,
    #icon-lost-msg.error,
    #icon-register-msg.error {
    background-color: #eb575b !important;
    }

    #img_logo {
    max-height: 100px;
    max-width: 100px;
    }

    /* #########################################
    #    override the bootstrap configs     #
    ######################################### */

    .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
    }

    .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
    }

    .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
    }

    .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
    }

    .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
    }

    .checkbox {
    margin-bottom: 0px;
    }

    .btn {
    border-radius: 0px;
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
    outline: none;
    }

    .btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
    }

    .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
    }

    .btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
    }

    .glyphicon {
    top: 0px;
    }

    .form-control {
    border-radius: 0px;
    }
   



.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 50px;
}
.callout, .card, .info-box, .mb-3, .my-3, .small-box {
    margin-bottom: 1rem!important;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 0%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    -webkit-appearance: button;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
[type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 17px;
    font-weight: 400;
    height: calc(2.875rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.text-danger {
    color: #dc3545!important;
}
.input-custom .input-custom-label {
    position: absolute;
    top: -12px;
    font-size: .85rem;
    left: 15px;
    /* color: #007bff; */
    padding: 0 5px;
    transition: opacity 150ms cubic-bezier(0.4,0,0.2,1),-webkit-transform 200ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 200ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 200ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1),-webkit-transform 200ms cubic-bezier(0.4,0,0.2,1);
    width: auto;
    background: #fff;
    z-index: 1;
}
.input-custom[_ngcontent-bfd-c4] .input-custom-label[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    color: #007bff;
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 0 5px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: auto;
    background: #fff;
    z-index: 1;
}
input {
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.input-custom-control {
    border: 1px solid #007bff;
}
.form-control-lg[_ngcontent-bfd-c4] {
    height: calc(2.875rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.input-custom-control[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #007bff;
}
.input-custom {
    position: relative;
}
.input-custom[_ngcontent-bfd-c4] {
    position: relative;
}
.mb-2, .my-2, .progress-group {
    margin-bottom: .5rem!important;
}
.mb-3, .my-3, .small-box {
    margin-bottom: 1rem!important;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.numberInfo[_ngcontent-bfd-c4] {
    padding: 0 0 20px 0;
}
.search-widget[_ngcontent-bfd-c4] {
    border-radius: 2px;
    box-shadow: none;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    left: 50%;
}
form {
    display: block;
    margin-top: 0em;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.search_frm[_ngcontent-bfd-c4] {
    padding-bottom: 40px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #337ab7 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}
/* .nav>li>a:hover {
    text-decoration: none;
    background-color: #072bde;
} */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.content-wrapper-search[_ngcontent-hms-c1] {
    min-height: calc(90vh - 38px);
    padding: 20px;
    transition: all 0.3s;
    background: #f4f6f9;
}
body[_ngcontent-hms-c1] {
    font-family: Roboto, Arial, sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.bg-primary, .bg-primary a, .label-primary, .label-primary a {
    color: #fff!important;
}

.bg-primary, .label-primary {
    background-color: #007bff!important;
}

.thumbnail {
    border: 0;
}

#webcodecam-canvas, #scanned-img {
    background-color: #2d2d2d;
}

#camera-select {
    display: inline-block;
    width: auto;
}

.btn {
    margin-bottom: 2px;
}

.form-control {
    height: 32px;
}

.h4, h4 {
    width: auto;
    float: left;
    font-size: 30px;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.controls {
    float: right;
    /* display: inline-block; */
}

.well {
    position: relative;
    display: inline-block;
}

.panel-heading {
    display: inline-block;
    width: 100%;
}

.container {
    width: 100%
}

pre {
    border: 0;
    border-radius: 0;
    background-color: #333;
    margin: 0;
    line-height: 125%;
    color: whitesmoke;
}

button {
    outline: none !important;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50px !important; 
    margin-left:20px;
}
.table-bordered {
    color: #777;
    cursor: default;
}

.table-bordered a:hover {
    text-decoration: none;
}

.table-bordered th a {
    float: right;
    line-height: 3.49;
}

.table-bordered td a {
    float: left;
}

.table-bordered th img {
    float: left;
}

.table-bordered th, .table-bordered td {
    vertical-align: middle !important;
}

.scanner-laser {
    position: absolute;
    margin: 40px;
    height: 30px;
    width: 30px;
    opacity: 0.5;
}

.laser-leftTop {
    top: 0;
    left: 0;
    border-top: solid red 5px;
    border-left: solid red 5px;
}

.laser-leftBottom {
    bottom: 0;
    left: 0;
    border-bottom: solid red 5px;
    border-left: solid red 5px;
}

.laser-rightTop {
    top: 0;
    right: 0;
    border-top: solid red 5px;
    border-right: solid red 5px;
}

.laser-rightBottom {
    bottom: 0;
    right: 0;
    border-bottom: solid red 5px;
    border-right: solid red 5px;
    /* JS */
}

#webcodecam-canvas {
    background-color: #272822;
}
#scanned-QR{
    word-break: break-word;
}

/* css */