

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 50px;
}
.callout, .card, .info-box, .mb-3, .my-3, .small-box {
    margin-bottom: 1rem!important;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 0%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    -webkit-appearance: button;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
[type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 17px;
    font-weight: 400;
    height: calc(2.875rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.text-danger {
    color: #dc3545!important;
}
.input-custom .input-custom-label {
    position: absolute;
    top: -12px;
    font-size: .85rem;
    left: 15px;
    /* color: #007bff; */
    padding: 0 5px;
    transition: opacity 150ms cubic-bezier(0.4,0,0.2,1),-webkit-transform 200ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 200ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 200ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1),-webkit-transform 200ms cubic-bezier(0.4,0,0.2,1);
    width: auto;
    background: #fff;
    z-index: 1;
}
.input-custom[_ngcontent-bfd-c4] .input-custom-label[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    color: #007bff;
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 0 5px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: auto;
    background: #fff;
    z-index: 1;
}
input {
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.input-custom-control {
    border: 1px solid #007bff;
}
.form-control-lg[_ngcontent-bfd-c4] {
    height: calc(2.875rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.input-custom-control[_ngcontent-bfd-c4] {
    font-family: "Roboto","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #007bff;
}
.input-custom {
    position: relative;
}
.input-custom[_ngcontent-bfd-c4] {
    position: relative;
}
.mb-2, .my-2, .progress-group {
    margin-bottom: .5rem!important;
}
.mb-3, .my-3, .small-box {
    margin-bottom: 1rem!important;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.numberInfo[_ngcontent-bfd-c4] {
    padding: 0 0 20px 0;
}
.search-widget[_ngcontent-bfd-c4] {
    border-radius: 2px;
    box-shadow: none;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    left: 50%;
}
form {
    display: block;
    margin-top: 0em;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.search_frm[_ngcontent-bfd-c4] {
    padding-bottom: 40px;
}


.nav>li>a:hover {
    text-decoration: none;
    background-color: #072bde;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.content-wrapper-search[_ngcontent-hms-c1] {
    min-height: calc(90vh - 38px);
    padding: 20px;
    transition: all 0.3s;
    background: #f4f6f9;
}
body[_ngcontent-hms-c1] {
    font-family: Roboto, Arial, sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.bg-primary, .bg-primary a, .label-primary, .label-primary a {
    color: #fff!important;
}

.bg-primary, .label-primary {
    background-color: #007bff!important;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.thumbnail {
    border: 0;
}

#webcodecam-canvas, #scanned-img {
    background-color: #2d2d2d;
}

#camera-select {
    display: inline-block;
    width: auto;
}

.btn {
    margin-bottom: 2px;
}

.form-control {
    height: 32px;
}

.h4, h4 {
    width: auto;
    float: left;
    font-size: 30px;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.controls {
    float: right;
    /* display: inline-block; */
}

.well {
    position: relative;
    display: inline-block;
}

.panel-heading {
    display: inline-block;
    width: 100%;
}

.container {
    width: 100%
}

pre {
    border: 0;
    border-radius: 0;
    background-color: #333;
    margin: 0;
    line-height: 125%;
    color: whitesmoke;
}

button {
    outline: none !important;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50px !important; 
    margin-left:20px;
}
.table-bordered {
    color: #777;
    cursor: default;
}

.table-bordered a:hover {
    text-decoration: none;
}

.table-bordered th a {
    float: right;
    line-height: 3.49;
}

.table-bordered td a {
    float: left;
}

.table-bordered th img {
    float: left;
}

.table-bordered th, .table-bordered td {
    vertical-align: middle !important;
}

.scanner-laser {
    position: absolute;
    margin: 40px;
    height: 30px;
    width: 30px;
    opacity: 0.5;
}

.laser-leftTop {
    top: 0;
    left: 0;
    border-top: solid red 5px;
    border-left: solid red 5px;
}

.laser-leftBottom {
    bottom: 0;
    left: 0;
    border-bottom: solid red 5px;
    border-left: solid red 5px;
}

.laser-rightTop {
    top: 0;
    right: 0;
    border-top: solid red 5px;
    border-right: solid red 5px;
}

.laser-rightBottom {
    bottom: 0;
    right: 0;
    border-bottom: solid red 5px;
    border-right: solid red 5px;
    /* JS */
}

#webcodecam-canvas {
    background-color: #272822;
}
#scanned-QR{
    word-break: break-word;
}

/* css */