<!-- SPDX-License-Identifier: Apache-2.0 -->
  
<!-- <body _ngcontent-hms-c1 ng-app="application" ng-controller="appController as tab"> -->
<div _ngcontent-hms-c1 ng-controller="appController as tab">
      <!-- <div ng-view></div> -->
    <app-header-home _ngcontent-qht-c1="" _nghost-qht-c2="">
      <nav _ngcontent-qht-c2="" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- button home -->
        <a _ngcontent-abn-c2="" class="navbar-brand" routerlink="/home" ng-reflect-router-link="/home" href="../index.html">
          <i _ngcontent-gwf-c2="" class="fa fa-home mr-2"></i>
          <span>PSC</span>
          <!-- <img _ngcontent-abn-c2="" alt="SCP" class="brand-image " height="25px" src="home.png" style="opacity: 1"> -->
        </a>

        <button _ngcontent-vyn-c2="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span _ngcontent-vyn-c2="" class="navbar-toggler-icon"></span></button>


        <div _ngcontent-qht-c2="" class="collapseadmin navbar-collapseadmin" id="navbarSupportedContent">
          <ul _ngcontent-qht-c2="" class="navbar-nav mr-auto">
            <li _ngcontent-qht-c2="" class="nav-item d-none d-lg-inline-block">
              <a _ngcontent-qht-c2="" class="nav-link">Phần mềm truy xuất nguồn gốc thịt lợn</a>
            </li>

          </ul>

          <!-- current username -->
          <ul _ngcontent-gwf-c2="" class="nav navbar-nav ml-auto-admin">
              <li _ngcontent-gwf-c2="" class="nav-item-an ">
                  <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                    <!-- <i _ngcontent-gwf-c2="" class="fa fa-user"></i> -->
                    
                      <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                          {{message}}
                      </span>
                  </a>
                </li>
                <li _ngcontent-gwf-c2="" class="nav-item ">
                    <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                        <img id="blah" src="#" alt="your image" class="img-small"/>
                        <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                            <input id="currentUser" class="currentUser" type="button" value="">
                        </span>
                    </a>
                </li>
            <li _ngcontent-gwf-c2="" class="nav-item-an">
              <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" >
                <!-- <i _ngcontent-gwf-c2="" class="fa fa-sign-in mr-2"></i> -->
                <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                    ChainID: {{chainidLocalStorage}}
                </span>
              </a>
            </li>
            <li _ngcontent-gwf-c2="" class="nav-item-an">
                <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" >
                  <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                      <input id="chainIdUser" class="currentUser" type="button" value="">
                  </span>
                </a>
              </li>
              <li _ngcontent-gwf-c2="" class="nav-item-an ">
                <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                    
                    <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                        <input id="getIdUserCurrent" class="currentUser" type="button" value="">
                    </span>
                </a>
            </li>

            <li _ngcontent-gwf-c2="" class="nav-item">
                <a _ngcontent-gwf-c2="" class="nav-link btn btn-outline-primary bg-white text-dark" routerlink="/signup" style="color:#007bff!important" ng-reflect-router-link="/signup" href="#/">
                  <span _ngcontent-gwf-c2="" translate="signup" ng-reflect-translate="signup">Logout</span>
                </a>
              </li>
          </ul>

        </div>
      </nav>    

    </app-header-home>

    <div _ngcontent-hms-c1="" class="content-wrapper-search">
      <router-outlet _ngcontent-hms-c1=""></router-outlet>
      <app-home _nghost-xxd-c4="">
          <div _ngcontent-xxd-c4="" class="row">
            <div _ngcontent-xxd-c4="" class="col-sm-12">
              <div _ngcontent-xxd-c4="" class="card card-primary">
                
                  <ngb-tabset _ngcontent-xxd-c4="" class="nav-tab-custom-home">

                    <!-- tablist -->
                    <ul role="tablist" class="nav nav-tabs justify-content-start">
                      
                        <ul class="nav nav-pills">
                            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Thêm thông tin chuỗi</a></li>
                            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">...</a></li>
                        </ul>

                    </ul>
                    <!-- tablist -->
                          
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" aria-labelledby="ngb-tab-0" id="ngb-tab-0-panel" aria-expanded="true">
                            <div ng-show="tab.isSet(1)">
                              <div _ngcontent-xxd-c4="" class="intro-head pr-2 pl-2"><h2 _ngcontent-xxd-c4="" translate="home.tab-one.title" ng-reflect-translate="home.tab-one.title">
                                  <center>Quản lý thông tin Lò Mổ</center></h2>
                              </div>
                                    

                              <!-- Truy xuất thông tin Transport với username -->
                              <div>
                                  <div id="box">

                                      <div class="form-group">
                                        <p><input id="queryAllPigWithAccountAbattoir" type="hidden" value="queryAllPigWithAccountAbattoir" class="btn btn-primary" ng-click="queryAllPigWithAccountAbattoir()"></p>
                                        
                                      </div>

                                      <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Pig Id</h5>
                                      <center>

                                        <label for="search"> Tìm kiếm:</label>
                                        <input ng-model="q" id="search" class="input-custom-control-search form-control-lg-search"  placeholder="Tìm">
                                        <label for="search"> Hiển thị: </label>
                                        <select ng-model="pageSize" id="pageSize" class="select-custum-control">
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="15">15</option>
                                            <option value="100">All</option>
                                        </select>
                                      </center>

                                      <table id="all_pig_with_account_abattoir" class="table-query-farm">
                                        

                                        <tr class="tr-query-farm">
                                          <th>STT</th>
                                          <th> Mã chuỗi</th>
                                          <th>Mã QR</th>
                                          <th>Tên tài khoản</th>
                                          <th>Tên lò mổ</th>
                                          <th >Vấn đề  - Giải quyết</th>
                                          <th >Địa chỉ</th>
                                          <th >Chất lượng lò mổ</th>
                                          <th >Thời gian mổ </th>
                                          
                                        </tr>
                                        
                                        <tr ng-repeat="pig in all_pig_with_account_abattoir | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                                          
                                          <td>{{$index + 1}}</td>
                                          <td>{{pig.Key}}</td>

                                          <td>
                                            <label id="text" type="text" 
                                                    value="{{pig.Key}}" style="Width:0%"
                                                    onblur='generateBarCode();' > </label>

                                                    <img id='barcode'
                                                      src="https://api.qrserver.com/v1/create-qr-code/?data= Key: {{pig.Key}} | Sick: {{pig.sick_cure}}  | Farm-Qualified: {{pig.farm_qualified}} | Supermarket-Qualified: {{pig.supermarket_qualified}}&amp;size=500x500" 
                                                      alt="" 
                                                      title="HELLO" 
                                                      width="50" 
                                                      height="50" />
                                          </td>
                                          <th>{{pig.abattoir_account}}</th>

                                          <td >{{pig.abattoir_name}}<br>
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateAbattoirName(pig.Key)" data-toggle="modal" data-target="#addAbattoirName" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                          </button>
                                          </td>
                                          <td >{{pig.abattoir_trouble_solution}}<br>
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateAbattoirTroubleSolution(pig.Key)" data-toggle="modal" data-target="#addAbattoirTroubleSolution" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Thêm 
                                          </button>
                                          </td>
                                          <td >{{pig.abattoir_location}} <br>
                                              <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateAbattoirLocation(pig.Key)" data-toggle="modal" data-target="#addAbattoirLocation" >
                                                  <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                                  Sửa 
                                              </button>
                                          </td>

                                          <td>{{pig.abattoir_qualified}}<br>
                                            
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateAbattoirQualified(pig.Key)" data-toggle="modal" data-target="#addAbattoirQualified" >
                                                <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                                Sửa 
                                            </button>
                                          </td>

                                          <td>{{pig.peck_time}} <br>
                                          
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdatePeckTime(pig.Key)" data-toggle="modal" data-target="#addPeckTime" >
                                                <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                                Sửa 
                                              </button>
                                          </td>
                                          

                                        </tr>
                                        

                                      </table>

                                      <center>
                                        <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls> -->
                                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                          Previous
                                        </button>
                                        {{currentPage+1}}/{{numberOfPages()}}
                                        <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                            Next
                                        </button>
                                      </center>


                                  </div>
                              </div>
                              

                              <!-- Truy xuất thông tin Transport -->
                              <!-- <div>
                                      
                                  <div id="box">
                                      <div class="form-group">
                                        <p><input id="queryAbattoir" type="hidden" value="Query" class="btn btn-primary" ng-click="queryAbattoir()"></p>
                                      </div>
                                      <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Id</h5>

                                      <table id="query_abattoir" class="table-query-farm" align="center">
                                        <tr class="tr-query-farm">
                                          <th>ID</th>
                                          <th>AbattoirName</th>
                                          <th>AbattoirLocation</th>
                                          <th>AbattoirQualified</th>
                                          <th>Peck_Time</th>
                                        </tr>
                                        <tr>
                                          <td>{{chainidLocalStorage}}</td>
                                          <td>{{query_abattoir.abattoir_name}}</td>
                                          <td>{{query_abattoir.abattoir_location}}</td>
                                          <td>{{query_abattoir.abattoir_qualified}}</td>
                                          <td>{{query_abattoir.peck_time}}</td>
                                        </tr>
                                      </table>
                                  </div>
                              </div> -->
                              
                            </div>

                                  
                            <div ng-show="tab.isSet(2)">
                    
                              <!-- Truy xuất thông tin của 1 sản phẩm cụ thể -->
                              <center>
                              <div>
                                  <button id="toggleMessage" ng-click="toggle3=!toggle3">
                                      {{toggle3 ? 'Ẩn truy xuất thông tin của 1 sản phẩm cụ thể ' : 'Truy xuất thông tin của 1 sản phẩm cụ thể '}}
                                  </button>
                                  <div id="box" ng-show="toggle3">
                                      <div class="form-group">
                                        <label>Query a Pork</label><br>
                                        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Pig Id</h5>
                                        
                                        Enter a ID: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="pig_id">
                                        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryPig()">
                                      </div>
      
                                      <table id="query_pig" class="table" align="center">
                                        <tr>
                                          <td colspan="7" style="font-size: 35px"> <center>Thông tin</center></td>
                                        </tr>
                                        
                                        <tr>
                                          <th>QRCode</th>
                                          <th>Famer</th>
                                          <th>Species</th>
                                          <th>Food </th>
                                          <th>Sick_Cure</th>
                                          <th>Location</th>
                                          <th>Start_Date</th>
                                          <th>End_Date</th>
                                          <th>Company</th>
                                          <th>Transporter</th>
                                          <th>Vehicle</th>
                                          <th>Trouble</th>
                                          <th>Solution</th>
                                          <th>Qualified</th>
                                          <th>Time</th>
                                          <th>Name</th>
                                          <th>Location</th>
                                          <th>Qualified</th>
                                          <th>Peck_Time</th>
                                          <th>Supermarket</th>
                                          <th>Qualified</th>
                                          <th>Price</th>
                                          <th>Quantity Remaining</th>
                                          <th>MFG</th>
                                          <th>EXP</th>
                                        </tr>
                                        
                                        <tr>
                                          <td>{{query_pig.qrcode}}</td>
                                          <td>{{query_pig.famer}}</td>
                                          <td>{{query_pig.species}}</td>
                                          <td>{{query_pig.food}}</td>
                                          <td>{{query_pig.sick_cure}}</td>
                                          <td>{{query_pig.farm_location}}</td>
                                          <td>{{query_pig.start_date_of_farming}}</td>
                                          <td>{{query_pig.end_date_of_farming}}</td>
                                          <td>{{query_pig.company}}</td>
                                          <td>{{query_pig.transporter}}</td>
                                          <td>{{query_pig.vehicle}}</td>
                                          <td>{{query_pig.trouble}}</td>
                                          <td>{{query_pig.solution}}</td>
                                          <td>{{query_pig.transport_qualified}}</td>
                                          <td>{{query_pig.time}}</td>
                                          <td>{{query_pig.abattoir_name}}</td>
                                          <td>{{query_pig.abattoir_location}}</td>
                                          <td>{{query_pig.abattoir_qualified}}</td>
                                          <td>{{query_pig.peck_time}}</td>
                                          <td>{{query_pig.supermarket_name}}</td>
                                          <td>{{query_pig.supermarket_qualified}}</td>
                                          <td>{{query_pig.price}}</td>
                                          <td>{{query_pig.quantity_remaining}}</td>
                                          <td>{{query_pig.manufacturing_date}}</td>
                                          <td>{{query_pig.expiry_date}}</td>
                                        </tr>
                                        
                                      </table>
                                  </div>
                              </div>
                              </center>
                            </div>    
                                  
                        </div>

                                
                        
                            
                            
                        <!--Modal view user-->
                      <div class="modal fade" id="viewUserModal">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                        data-dismiss="modal">x</button>
                                    <h4 class="modal-title">Thông tin người dùng</h4> <br>
                                </div>
                                <div class="modal-body" style="overflow-x:auto;">
                                    <div class="form-group" >
                                      <p><input id="queryViewUser" type="button" value="Query" class="btn btn-primary" ng-click="queryViewUser()"></p>
                                    </div>

                                    
                                    
                                    <table border="0!important" id="query_view_user" align="center"  > 

                                        <tr >
                                          <th class="th">
                                              Avatar
                                          </th>
                                          <th class="th">
                                            <form  >
                                              <fieldset>
                                                <legend></legend>
                                                <input type="file" name="photo" id="photo" ng-model="imageSrc" ng-file-select="onFileSelect($files)" ng-click="getKeyForUpdateWhenUpdatePassword(iduserLocalStorage)">
                                                <button type="button" onclick="upload()" >Tải lên</button>
                                                <br>
                                                <h5 style="color:green;margin-bottom:2%" id="success_upload">Cập nhật thành công</h5>

                                                <input id="hashImg" name="hashImg" type="hidden" value="" >

                                                <input id="clickAddImg" type="hidden" ng-click="changeImg()" ><br>

                                                <a id="url" target="_blank"></a>
                                              </br>
                                              </br>
                                              </fieldset>
                                            </form>
                                          </th>
                                        </tr>

                                        <tr >
                                          <th class="th">

                                              
                                              <input id="hash" name="hash" type="hidden" value="https://ipfs.io/ipfs/{{query_view_user.img}}"> 
                                          </th>
                                          <th class="th"  >
                                            <center>
                                              <img id="blah2" src="#" alt="your image" />
                                            </center>
                                          </th>
                                        </tr>

                                        <!-- <tr >
                                          <th class="th">
                                              ID: 
                                          </th>
                                          <th class="th">
                                              {{iduserLocalStorage}}
                                          </th>
                                        </tr> -->

                                        <tr >
                                          <th class="th">
                                              Username:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.username}}
                                          </th>
                                        </tr>

                                        <tr >
                                          <th class="th">
                                              Password:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.password}}
                                          </th>
                                          <th class="th">
                                              <button class="btn btn-primary btn-xs" ng-click="getKeyForUpdateWhenUpdatePassword(iduserLocalStorage)" data-toggle="modal" data-target="#editPassword">
                                                  <i
                                                  class="fa fa-edit"></i>
                                                  Edit
                                                </button>
                                          </th>
                                        </tr>

                                        <tr>
                                          <th class="th">
                                              Email:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.email}}
                                          </th>
                                          <th class="th">
                                              <button class="btn btn-primary btn-xs" ng-click="getKeyForUpdateWhenUpdateEmail(iduserLocalStorage)" data-toggle="modal" data-target="#editEmail">
                                                  <i
                                                  class="fa fa-edit"></i>
                                                  Edit
                                                </button>
                                          </th>
                                        </tr>

                                        <tr >
                                          <th class="th">
                                            
                                              Chain ID:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.chainid}}
                                          </th>
                                        </tr>

                                        <tr >
                                          <th class="th">
                                              Roles:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.roles}}
                                          </th>
                                        </tr>

                                        <tr >
                                          <th class="th">
                                              Status:
                                          </th>
                                          <th class="th">
                                            {{query_view_user.status}}
                                          </th>
                                          
                                        </tr>
                                        
                                        <tr>
                                          <th class="th">
                                              Approve:
                                          </th>
                                          <th class="th">
                                              {{query_view_user.approve}}
                                          </th>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                      </div>
                    <!--End modal view user-->

                        <!-- modal editPassword -->
                        <div class="modal fade" id="editPassword">
                            <div class="modal-dialog">
                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                          data-dismiss="modal">x
                                        </button>
                                        <h4 class="modal-title">Đổi mật khẩu</h4> <br>
                                    </div>
                                    

                                  

                                    <div class="modal-body">
                                      
                                        <div class="modal-body-getkey"></div>
                                      <form name="liveForm">
                                        <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                        <h5 style="color:red;margin-bottom:2%" id="error_editPassword">Error: Please enter a valid Id</h5>
                                        <!-- <label>Id cần đổi mật khẩu:</label>  
                                        <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                        <br> -->
                                        <br>

                                        <label>Mật khẩu mới:</label>  
                                        <input class="form-control" type="password" name="user.password" placeholder="Mật khẩu" ng-model="user.password">
                                        <br>

                                        <label>Nhập lại mật khẩu:</label>  

                                        <input type="password" name="repeatPass" ng-model="repeatPass" required compare-to="user.password" class="form-control" />   

                                        <span class="error text-danger" ng-show="liveForm.repeatPass.$error.compareTo">  

                                            Passwords don't match.  

                                        </span>
                                      </form>

                                        <h5 align="right">Bạn đã chắc chắn?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changePassword()" >
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        
                                    </div>
                                </div>
                            </div>
                          </div>
                      
                        <!-- modal editEmail -->
                        <div class="modal fade" id="editEmail">
                            <div class="modal-dialog">
                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                          data-dismiss="modal">x
                                        </button>
                                        <h4 class="modal-title">Chỉnh sửa Email</h4> <br>
                                    </div>
                                    

                                    
                                    <div class="modal-body">
                                        <div class="modal-body-getkey"></div>
                                      <form name="liveForm">
                                        <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                        <h5 style="color:red;margin-bottom:2%" id="error_editEmail">Error: Please enter a valid Id</h5>
                                        <!-- <span>Id cần đổi email:</span>
                                        
                                        <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                        -->
                                        <span>Email mới:</span><br>
                                        
                                        <input  class="form-control" name="user.email" placeholder="Email" ng-model="user.email">
                                        <br>

                                        
                                      </form>

                                        <h5>Bạn đã chắc chắn?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changeEmail()" >
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- modal update addAbattoirName -->
                        <div class="modal fade" id="addAbattoirName">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close"
                                        data-dismiss="modal">x
                                      </button>
                                      <h4 class="modal-title">Chỉnh sửa tên lò mổ</h4> <br>
                                  </div>

                                <div class="modal-body">
                                    <div class="modal-body-getkey"></div>
                                      <h5 style="color:green;margin-bottom:2%" id="success_update_abattoir_name">Success! Tx ID: {{update_abattoir_name}}</h5>
                                      <h5 style="color:red;margin-bottom:2%" id="error_update_abattoir_name">Error: Please enter a valid Id</h5>
                                      <!-- Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="transport.id"> -->
                                      Nhập tên lò mổ: <input class="form-control"  placeholder="Ex: hieulinh" ng-model="abattoir.abattoir_name">
                                      <!-- <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()"> -->
                                      <br>
                                      <h5>Bạn chắc chắn muốn sửa?</h5>

                                  </div>
                                  <div class="modal-footer">
                                      <input id="transferSubmit" type="submit" value="Sửa" class="btn btn-primary" ng-click="updateAbattoirName()">
                                      &nbsp;
                                      <button type="button" class="btn btn-danger btn-md"
                                          data-dismiss="modal">
                                          Cancel</button>
                                      <!-- Goi ham them va dong modal -->
                                  </div>
                              </div>
                          </div>
                        </div>
                        
                        <!-- modal update addAbattoirLocation -->
                        <div class="modal fade" id="addAbattoirLocation">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close"
                                        data-dismiss="modal">x
                                      </button>
                                      <h4 class="modal-title">Chỉnh sửa địa chỉ lò mổ</h4><br>
                                  </div>

                                <div class="modal-body">
                                    <div class="modal-body-getkey"></div>
                                      <h5 style="color:green;margin-bottom:2%" id="success_update_abattoir_location">Success! Tx ID: {{update_abattoir_location}}</h5>
                                      <h5 style="color:red;margin-bottom:2%" id="error_update_abattoir_location">Error: Please enter a valid Id</h5>
                                      <!-- Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="transport.id"> -->
                                      Nhập địa chỉ lò mổ: <input class="form-control" name="assetSelect" placeholder="Ex: số-ấp-xã-tx-tp" ng-model="abattoir.abattoirlocation">
                                      <!-- <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()"> -->
                                      <br>
                                      <h5>Bạn chắc chắn muốn sửa?</h5>

                                  </div>
                                  <div class="modal-footer">
                                      <input type="submit" value="Edit" class="btn btn-primary" ng-click="updateAbattoirLocation()">
                                      &nbsp;
                                      <button type="button" class="btn btn-danger btn-md"
                                          data-dismiss="modal">
                                          Cancel</button>
                                      <!-- Goi ham them va dong modal -->
                                  </div>
                              </div>
                          </div>
                        </div>
                        
                        <!-- modal update addAbattoirQualified -->
                        <div class="modal fade" id="addAbattoirQualified">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close"
                                        data-dismiss="modal">x
                                      </button>
                                      <h4 class="modal-title">Chỉnh sửa chất lượng lò mổ</h4><br>
                                  </div>

                                <div class="modal-body">
                                    <div class="modal-body-getkey"></div>
                                      <h5 style="color:green;margin-bottom:2%" id="success_update_abattoir_qualified">Success! Tx ID: {{update_abattoir_qualified}}</h5>
                                      <h5 style="color:red;margin-bottom:2%" id="error_update_abattoir_qualified">Error: Please enter a valid Id</h5>
                                      <!-- Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="transport.id"> -->
                                      Nhập chất lượng lò mổ: <input class="form-control" placeholder="Ex: 5 sao" ng-model="abattoir.abattoirqualified">
                                      <!-- <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()"> -->
                                      <br>
                                      <h5>Bạn chắc chắn muốn sửa?</h5>

                                  </div>
                                  <div class="modal-footer">
                                      <input type="submit" value="Edit" class="btn btn-primary" ng-click="updateAbattoirQualified()">
                                      &nbsp;
                                      <button type="button" class="btn btn-danger btn-md"
                                          data-dismiss="modal">
                                          Cancel</button>
                                      <!-- Goi ham them va dong modal -->
                                  </div>
                              </div>
                          </div>
                        </div>
                        
                        <!-- modal update addPeckTime -->
                        <div class="modal fade" id="addPeckTime">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close"
                                        data-dismiss="modal">x
                                      </button>
                                      <h4 class="modal-title">Chỉnh sửa thời gian mổ</h4><br>
                                  </div>

                                <div class="modal-body">
                                    <div class="modal-body-getkey"></div>
                                      <h5 style="color:green;margin-bottom:2%" id="success_update_abattoir_pecktime">Success! Tx ID: {{update_abattoir_pecktime}}</h5>
                                      Nhập thời gian mổ: 
                                      <input type="datetime-local" name="bdaytime" class="form-control" placeholder="Ex: 07/09/1997" ng-model="abattoir.pecktime">
                                      <br>
                                      <h5>Bạn chắc chắn muốn sửa?</h5>

                                  </div>
                                  <div class="modal-footer">
                                      <input type="submit" value="Edit" class="btn btn-primary" ng-click="updateAbattoirPeckTime()">
                                      &nbsp;
                                      <button type="button" class="btn btn-danger btn-md"
                                          data-dismiss="modal">
                                          Cancel</button>
                                      <!-- Goi ham them va dong modal -->
                                  </div>
                              </div>
                          </div>
                        </div>

                        <!-- modal update addTrouble -->
                    <div class="modal fade" id="addAbattoirTroubleSolution">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm vấn đề, giải quyết</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <div class="modal-body-getkey"></div>
                                    <!-- <h5 style="color:green;margin-bottom:2%" id="success_update_abattoir_trouble_solution">Success! Tx ID: {{update_abattoir_trouble_solution}}</h5> -->
                                    <!-- <h5 style="color:red;margin-bottom:2%" id="error_update_abattoir_trouble_solution">Error: Please enter a valid Id</h5> -->
                                    Nhập tên tên vấn đề, giải quyết: : <input class="form-control" placeholder="Ex: vấn đề" ng-model="abattoir.abattoirtrouble">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateAbattoirTrouble()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                                
                    </div>
                              
                  </ngb-tabset>
                  
              </div>
            </div>
          </div>  
      </app-home>
    </div>

    <app-footer-home-main _ngcontent-plj-c1="" _nghost-plj-c3="">
        <footer _ngcontent-plj-c3="" class="col-lg-12 text-center">
          <p _ngcontent-plj-c3="" class="text-muted small mb-0 flex-1 text-left">© PSC 2019. Hiếu Linh Lâm.</p>
          <!-- <div _ngcontent-plj-c3="" class="row justify-content-md-right">
            <div _ngcontent-plj-c3="" class="col-auto row">
              <a _ngcontent-plj-c3="" href="https://apps.apple.com/us/app/x%C3%A1c-minh-v%C4%83n-b%E1%BA%B1ng-vdb/id1468072081?ls=1">
                <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - Appstore" class="dw-icon col-auto" src="assets/img/icon/appstore1.png">
              </a>
              <a _ngcontent-plj-c3="" href="https://play.google.com/store/apps/details?id=com.vnpt.kv3.vdb">
                <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - GooglePlay" class="dw-icon col-auto" src="assets/img/icon/chplay1.png">
              </a>
            </div>
          </div> -->
        </footer>
    </app-footer-home-main>

</div>
  <!-- <script type="text/javascript" src="../js/filereader.js"></script>
  <script type="text/javascript" src="../js/qrcodelib.js"></script>
  <script type="text/javascript" src="../js/webcodecamjs.js"></script>
  <script type="text/javascript" src="../js/main.js"></script> -->
  
  <!-- </body> -->
  