<!-- SPDX-License-Identifier: Apache-2.0 -->
  
<!-- <body _ngcontent-hms-c1 ng-app="application" ng-controller="appController as tab"> -->
<div _ngcontent-hms-c1 ng-controller="appController as tab">
      <!-- <div ng-view></div> -->
    <app-header-home _ngcontent-qht-c1="" _nghost-qht-c2="">
      <nav _ngcontent-qht-c2="" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- button home -->
        <a _ngcontent-abn-c2="" class="navbar-brand" routerlink="/home" ng-reflect-router-link="/home" href="../index.html">
          <i _ngcontent-gwf-c2="" class="fa fa-home mr-2"></i>
            <span>PSC</span>
          <!-- <img _ngcontent-abn-c2="" alt="SCP" class="brand-image " height="25px" src="home.png" style="opacity: 1"> -->
        </a>

        <button _ngcontent-vyn-c2="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span _ngcontent-vyn-c2="" class="navbar-toggler-icon"></span></button>


        <div _ngcontent-qht-c2="" class="collapseadmin navbar-collapseadmin" id="navbarSupportedContent">
          <ul _ngcontent-qht-c2="" class="navbar-nav mr-auto">
            <li _ngcontent-qht-c2="" class="nav-item d-none d-lg-inline-block">
              <a _ngcontent-qht-c2="" class="nav-link">Phần mềm truy xuất nguồn gốc thịt lợn</a>
            </li>

          </ul>

          <!-- current username -->
          <ul _ngcontent-gwf-c2="" class="nav navbar-nav ml-auto-admin">
              <li _ngcontent-gwf-c2="" class="nav-item-an ">
                  <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                    <!-- <i _ngcontent-gwf-c2="" class="fa fa-user"></i> -->
                    
                      <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                          {{message}}
                      </span>
                  </a>
                </li>
                <li _ngcontent-gwf-c2="" class="nav-item ">
                    <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                        <img id="blah" src="#" alt="your image" class="img-small"/>
                        <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                            <input id="currentUser" class="currentUser" type="button" value="">
                        </span>
                    </a>
                </li>
            <li _ngcontent-gwf-c2="" class="nav-item-an">
              <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" >
                <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                    ChainID: {{chainidLocalStorage}}
                </span>
              </a>
            </li>
            <li _ngcontent-gwf-c2="" class="nav-item-an">
              <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" >
                <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                    <input id="chainIdUser" class="currentUser" type="button" value="">
                </span>
              </a>
            </li>
            <li _ngcontent-gwf-c2="" class="nav-item-an ">
                <a _ngcontent-gwf-c2="" id="clickCurrentUser" class="nav-link btn btn-outline-primary" ng-click="loadCurrentUser()"  data-toggle="modal" data-target="#viewUserModal">
                    
                    <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                        <input id="getIdUserCurrent" class="currentUser" type="button" value="">
                    </span>
                </a>
            </li>

            <li _ngcontent-gwf-c2="" class="nav-item">
                <a _ngcontent-gwf-c2="" class="nav-link btn btn-outline-primary bg-white text-dark" routerlink="/signup" style="color:#007bff!important" ng-reflect-router-link="/signup" href="#/">
                  <span _ngcontent-gwf-c2="" translate="signup" ng-reflect-translate="signup">Logout</span>
                </a>
              </li>
          </ul>

        </div>
      </nav>    

    </app-header-home>

    <div _ngcontent-hms-c1="" class="content-wrapper-search">
      <router-outlet _ngcontent-hms-c1=""></router-outlet>
      <app-home _nghost-xxd-c4="">
          <div _ngcontent-xxd-c4="" class="row">
            <div _ngcontent-xxd-c4="" class="col-sm-12">
              <div _ngcontent-xxd-c4="" class="card card-primary">
                
                <ngb-tabset _ngcontent-xxd-c4="" class="nav-tab-custom-home">

                  <!-- tablist -->
                  <ul role="tablist" class="nav nav-tabs justify-content-start">
                    
                      <ul class="nav nav-pills">
                          <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Thêm thông tin chuỗi</a></li>
                          <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">...</a></li>
                      </ul>

                  </ul>
                  <!-- tablist -->
                  
                  <!-- tabcontent -->
                  <div class="tab-content">
                      <!-- tabpanel -->
                      <div role="tabpanel" class="tab-pane active" aria-labelledby="ngb-tab-0" id="ngb-tab-0-panel" aria-expanded="true">
                          <!-- tabset1 -->
                          <div ng-show="tab.isSet(1)">
                              <div _ngcontent-xxd-c4="" class="intro-head pr-2 pl-2"><h2 _ngcontent-xxd-c4="" translate="home.tab-one.title" ng-reflect-translate="home.tab-one.title">
                                  <center>Công đoạn Nông trại quản lý thông tin Heo</center></h2>
                              </div>
                              <div >
                              <button class="btn btn-primary" data-toggle="modal" data-target="#addPigWithAccountFarm">
                                <i class="fa fa-plus"></i>
                                Thêm mới mẫu tin Heo gặp sự cố
                              </button>
                            </div>
                                  
                              <!-- Truy xuất thông tin Farm với username -->
                              <div>
                                      
                                <div id="box">

                                    <div class="form-group">
                                      <p><input id="queryAllPigWithAccountFarm" type="hidden" value="queryAllPigWithAccountFarm" class="btn btn-primary" ng-click="queryAllPigWithAccountFarm()"></p>
                                      
                                    </div>

                                    <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Pig Id</h5>
                                    <center>

                                      <label for="search"> Tìm kiếm:</label>
                                      <input ng-model="q" id="search" class="input-custom-control-search form-control-lg-search"  placeholder="Tìm">
                                      <label for="search"> Hiển thị: </label>
                                      <select ng-model="pageSize" id="pageSize" class="select-custum-control">
                                          <option value="3">3</option>
                                          <option value="5">5</option>
                                          <option value="15">15</option>
                                          <option value="100">All</option>
                                      </select>
                                    </center>

                                    <table id="all_pig_with_account_farm" class="table-query-farm">

                                      <tr class="tr-query-farm">
                                        <th>STT</th>
                                        <th> Mã chuỗi
                                          
                                        </th>
                                        <th>Mã QR</th>
                                        <th>Tên tài khoản</th>
                                        <th >Họ tên Nông dân</th>
                                        <th >Giống</th>
                                        <th >Thức ăn </th>
                                        <th >Bệnh - Điều trị</th>
                                        <th >Chất lượng</th>
                                        <th >Địa chỉ</th>
                                        <th >Ngày bắt đầu nuôi</th>
                                        <th >Ngày xuất chuồng</th>
                                        
                                      </tr>
                                      
                                      <tr ng-repeat="pig in all_pig_with_account_farm | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        
                                        <td>{{$index + 1}}</td>
                                        <td>{{pig.Key}}</td>

                                        <td>
                                          <label id="text" type="text" 
                                                  value="{{pig.Key}}" style="Width:0%"
                                                  onblur='generateBarCode();' > </label>

                                                  <img id='barcode'
                                                    src="https://api.qrserver.com/v1/create-qr-code/?data= Key: {{pig.Key}} | Sick: {{pig.sick_cure}}  | Farm-Qualified: {{pig.farm_qualified}} | Supermarket-Qualified: {{pig.supermarket_qualified}}&amp;size=500x500" 
                                                    alt="" 
                                                    title="HELLO" 
                                                    width="50" 
                                                    height="50" />
                                        </td>

                                        <td >{{pig.farm_account}}</td>
                                        <td >{{pig.famer}} <br>
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateFamer(pig.Key)" data-toggle="modal" data-target="#addFamer" >
                                                <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                                Sửa 
                                            </button>
                                        </td>

                                        <td>{{pig.species}}<br>
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateSpecies(pig.Key, pig.farm_account)" data-toggle="modal" data-target="#addSpecies" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                          </button>
                                        </td>

                                        <td>{{pig.food}} <br>
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateFood(pig.Key, pig.food)" data-toggle="modal" data-target="#addFood" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Thêm 
                                            </button>
                                        </td>

                                        <td>{{pig.sick_cure}}<br>
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateSickCure(pig.Key, pig.sick_cure)" data-toggle="modal" data-target="#addSickCure" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Thêm 
                                              </button>
                                        </td>
                                        <td>{{pig.farm_qualified}}<br>
                                          
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateFarmQualified(pig.Key)" data-toggle="modal" data-target="#addFarmQualified" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                              </button>
                                        </td>

                                        <td>{{pig.farm_location}}<br>
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateLocation(pig.Key)" data-toggle="modal" data-target="#addLocation" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                          </button>
                                        </td>

                                        <td>{{pig.start_date_of_farming}}<br>
                                          </button> 
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateStartDate(pig.Key)" data-toggle="modal" data-target="#addStartDate" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                          </button>
                                        </td>

                                        <td>{{pig.end_date_of_farming}}<br>
                                          <button type="button" class="btn btn-primary btn-xs" ng-click="getKeyForUpdateEndDate(pig.Key)" data-toggle="modal" data-target="#addEndDate" >
                                              <i _ngcontent-gwf-c2="" class="fa fa-edit"></i>
                                              Sửa 
                                          </button>
                                        </td>

                                      </tr>

                                    </table>

                                    <center>
                                      <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls> -->
                                      <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                        Previous
                                      </button>
                                      {{currentPage+1}}/{{numberOfPages()}}
                                      <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                          Next
                                      </button>
                                    </center>
                                    
                                    

                                </div>
                              </div>


                              

                              

                          </div>
                          <!-- end tabset1 -->
  
                          <div ng-show="tab.isSet(2)">
                              
                              

                              

                          </div>


                          <!--Modal view user-->
                            <div class="modal fade" id="viewUserModal">
                              <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close"
                                              data-dismiss="modal">x</button>
                                          <h4 class="modal-title">Thông tin người dùng</h4> <br>
                                      </div>
                                      <div class="modal-body" style="overflow-x:auto;">
                                          <div class="form-group" >
                                            <p><input id="queryViewUser" type="hidden" value="Query" class="btn btn-primary" ng-click="queryViewUser()"></p>
                                          </div>

                                          
                                          
                                          <table border="0!important" id="query_view_user" align="center"  > 

                                              <tr >
                                                <th class="th">
                                                    Avatar
                                                </th>
                                                <th class="th">
                                                  <form  >
                                                    <fieldset>
                                                      <legend></legend>
                                                      <input type="file" name="photo" id="photo" ng-model="imageSrc" ng-file-select="onFileSelect($files)" ng-click="getKeyForUpdateWhenUpdatePassword(iduserLocalStorage)">
                                                      <button type="button" onclick="upload()" >Tải lên</button>
                                                      <br>
                                                      <h5 style="color:green;margin-bottom:2%" id="success_upload">Cập nhật thành công</h5>

                                                      <input id="hashImg" name="hashImg" type="hidden" value="" >

                                                      <input id="clickAddImg" type="hidden" ng-click="changeImg()" ><br>

                                                      <a id="url" target="_blank"></a>
                                                    </br>
                                                    </br>
                                                    </fieldset>
                                                  </form>
                                                </th>
                                              </tr>

                                              <tr >
                                                <th class="th">

                                                    
                                                    <input id="hash" name="hash" type="hidden" value="https://ipfs.io/ipfs/{{query_view_user.img}}"> 
                                                </th>
                                                <th class="th"  >
                                                  <center>
                                                    <img id="blah2" src="#" alt="your image" />
                                                  </center>
                                                </th>
                                              </tr>

                                              <!-- <tr >
                                                <th class="th">
                                                    ID: 
                                                </th>
                                                <th class="th">
                                                    {{iduserLocalStorage}}
                                                </th>
                                              </tr> -->

                                              <tr >
                                                <th class="th">
                                                    Username:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.username}}
                                                </th>
                                              </tr>

                                              <tr >
                                                <th class="th">
                                                    Password:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.password}}
                                                </th>
                                                <th class="th">
                                                    <button class="btn btn-primary btn-xs" ng-click="getKeyForUpdateWhenUpdatePassword(iduserLocalStorage)" data-toggle="modal" data-target="#editPassword">
                                                        <i
                                                        class="fa fa-edit"></i>
                                                        Edit
                                                      </button>
                                                </th>
                                              </tr>

                                              <tr>
                                                <th class="th">
                                                    Email:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.email}}
                                                </th>
                                                <th class="th">
                                                    <button class="btn btn-primary btn-xs" ng-click="getKeyForUpdateWhenUpdateEmail(iduserLocalStorage)" data-toggle="modal" data-target="#editEmail">
                                                        <i
                                                        class="fa fa-edit"></i>
                                                        Edit
                                                      </button>
                                                </th>
                                              </tr>

                                              <tr >
                                                <th class="th">
                                                  
                                                    Chain ID:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.chainid}}
                                                </th>
                                              </tr>

                                              <tr >
                                                <th class="th">
                                                    Roles:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.roles}}
                                                </th>
                                              </tr>

                                              <tr >
                                                <th class="th">
                                                    Status:
                                                </th>
                                                <th class="th">
                                                  {{query_view_user.status}}
                                                </th>
                                                
                                              </tr>
                                              
                                              <tr>
                                                <th class="th">
                                                    Approve:
                                                </th>
                                                <th class="th">
                                                    {{query_view_user.approve}}
                                                </th>
                                              </tr>
                                              
                                          </table>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          <!--End modal view user-->

                          <!-- modal addPigWithAccountFarm -->
                          <div class="modal fade" id="addPigWithAccountFarm">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                          data-dismiss="modal">x
                                        </button>
                                        <h4 class="modal-title"> Thêm mới mẫu tin heo gặp sự cố và tạo chuỗi mới</h4> <br>
                        
                                    </div>
                                    <div class="modal-body">
                                        <form  name="formAddPigWithAccountFarm">
                                            <center>
                                            <!-- <label>Thêm thông tin chuỗi</label><br> -->
                                            <p><input id="queryAllPig" type="hidden" value="queryAllPig" class="btn btn-primary" ng-click="queryAllPig()"></p> 
                                            <h5 style="color:green;margin-bottom:2%" id="success_chain_farm_add_pig">Success! Tx ID: {{create_chain_farm_add_pig}}</h5>
                                          <div class="div-farm" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis">
                                            <label>Nhập mã đàn(12 số đầu của mã chuỗi):</label> <br>
                                            <h5 style="color:red;margin-bottom:2%" id="madan">Tạo đàn heo mới nếu không nhập mã đàn.</h5>
                                            <input id="all_pig" _ngcontent-bfd-c4="" type="text" class="input-custom-control-signup  form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="Định dạng 000000.000000">

                                            <!-- <select id="all_pig" _ngcontent-bfd-c4=""  class="input-custom-control-farm  form-control-lg-farm ng-pristine ng-invalid ng-touched"  required>
                                              
                                              
                                              <option ng-repeat="pig in all_pig | filter:q" value="{{pig.Key}}" >{{pig.Key}}</option>
                                          </select> -->
                                        </div>
                                        <br>
                                          
                                          <label>Ngày nuôi(mm/dd/yyy):</label> <input _ngcontent-bfd-c4="" type="date" name="bday" ng-model="chain.start_date_of_farming" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="ngày nuôi" required><br>

                                          <label>Giống heo:</label> <input _ngcontent-bfd-c4=""  ng-model="chain.species" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="giống" required><br>

                                          <label>Thức ăn: </label><input _ngcontent-bfd-c4=""  ng-model="chain.food" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="thức ăn" required><br>

                                          <label>Bệnh/chữa trị:</label> <input _ngcontent-bfd-c4=""  ng-model="chain.sick_cure" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="bệnh - chữa trị" required><br>

                                          <label>Chất lượng nông trại:</label>  
                                          <!-- <input _ngcontent-bfd-c4=""  ng-model="chain.farm_qualified" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="Ex: 5 sao" required><br> -->
                                          
                                          <select _ngcontent-bfd-c4=""   ng-model="chain.farm_qualified" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched"  required>
                                              <option value="" disabled selected>Chọn chất lượng nông trại:</option>
                                              <option value="*">*</option>
                                              <option value="**">**</option>
                                              <option value="***">***</option>
                                              <option value="****">****</option>
                                              <option value="*****">*****</option>
                                          </select>
                                        
                                          <label>Địa chỉ:</label> <input _ngcontent-bfd-c4=""  ng-model="chain.farm_location" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="địa chỉ" required><br>

                                          
                                          <!-- <label>Ngày bán(mm/dd/yyy):</label> <input _ngcontent-bfd-c4="" type="date" name="bday" ng-model="chain.end_date_of_farming" type="text" class="input-custom-control-signup form-control form-control-lg-signup ng-pristine ng-invalid ng-touched" placeholder="ngày bán" required><br> -->
                                            <!-- <button type="button" ng-disabled="form.$invalid" ng-click="insertFarm()" class="btn btn-primary">Add</button> -->
                                            </center>
                                          </form>

                                        <h5>Bạn chắc chắn muốn thêm?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" ng-disabled="formAddPigWithAccountFarm.$invalid" value="Add" class="btn btn-primary" ng-click="initChainFarmAdd()">
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        <!-- Goi ham them va dong modal -->
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- modal editPassword -->
                          <div class="modal fade" id="editPassword">
                              <div class="modal-dialog">
                                  
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close"
                                            data-dismiss="modal">x
                                          </button>
                                          <h4 class="modal-title">Đổi mật khẩu</h4> <br>
                                      </div>
                                      

                                    

                                      <div class="modal-body">
                                        
                                          <div class="modal-body-getkey"></div>
                                        <form name="liveForm">
                                          <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                          <h5 style="color:red;margin-bottom:2%" id="error_editPassword">Error: Please enter a valid Id</h5>
                                          <!-- <label>Id cần đổi mật khẩu:</label>  
                                          <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                          <br> -->
                                          <br>

                                          <label>Mật khẩu mới:</label>  
                                          <input class="form-control" type="password" name="user.password" placeholder="Mật khẩu" ng-model="user.password">
                                          <br>

                                          <label>Nhập lại mật khẩu:</label>  

                                          <input type="password" name="repeatPass" ng-model="repeatPass" required compare-to="user.password" class="form-control" />   

                                          <span class="error text-danger" ng-show="liveForm.repeatPass.$error.compareTo">  

                                              Passwords don't match.  

                                          </span>
                                        </form>

                                          <h5 align="right">Bạn đã chắc chắn?</h5>

                                      </div>
                                      <div class="modal-footer">
                                          <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changePassword()" >
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          
                                      </div>
                                  </div>
                              </div>
                            </div>
                        
                          <!-- modal editEmail -->
                          <div class="modal fade" id="editEmail">
                              <div class="modal-dialog">
                                  
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close"
                                            data-dismiss="modal">x
                                          </button>
                                          <h4 class="modal-title">Chỉnh sửa Email</h4> <br>
                                      </div>
                                      

                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                        <form name="liveForm">
                                          <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                          <h5 style="color:red;margin-bottom:2%" id="error_editEmail">Error: Please enter a valid Id</h5>
                                          <!-- <span>Id cần đổi email:</span>
                                          
                                          <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                          -->
                                          <span>Email mới:</span><br>
                                          
                                          <input  class="form-control" name="user.email" placeholder="Email" ng-model="user.email">
                                          <br>

                                          
                                        </form>

                                          <h5>Bạn đã chắc chắn?</h5>

                                      </div>
                                      <div class="modal-footer">
                                          <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changeEmail()" >
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>

                            
                          <!-- modal update addFamer -->
                          <div class="modal fade" id="addFamer">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chỉnh sửa họ tên nông dân</h4> <br>
                                    </div>

                                    <!-- <div class="modal-body">
                                        <p></p>

                                    </div> -->
                                    <div class="modal-body">
                                        <div class="modal-body-getkey"></div>
                                        <h5 style="color:green;margin-bottom:2%" id="success_update_famer">Success! Tx ID: {{update_famer}}</h5>
                                        <h5 style="color:red;margin-bottom:2%" id="error_update_famer">Error: Please enter a valid Id</h5>
                                        
                                        <!-- Enter a id: <input class="form-control" ng-model="farm.id" placeholder="Ex: 1"> -->
                                        Nhập họ tên nông dân: <input class="form-control" placeholder="Ex: hieulinh" ng-model="farm.famer">
                                        <!-- <input id="transferSubmit" type="submit" value="Add" class="btn btn-primary" ng-click="updateFamer()"> -->

                                        <h5>Bạn chắc chắn muốn sửa?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateFamer()">
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        <!-- Goi ham them va dong modal -->
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- modal update addSpecies -->
                          <div class="modal fade" id="addSpecies">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title">Chỉnh sửa giống nuôi</h4> <br>
                                      </div>
  
                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                          <h5 style="color:green;margin-bottom:2%" id="success_update_species">Success! Tx ID: {{update_species}}</h5>
                                          <h5 style="color:red;margin-bottom:2%" id="error_update_species">Error: Please enter a valid Id</h5>
                                          
                                          Nhập giống nuôi: <input class="form-control" placeholder="Ex: heo rừng" ng-model="farm.species">
  
                                          <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                      </div>
                                      <div class="modal-footer">
                                          <input  type="submit" value="Edit" class="btn btn-primary" ng-click="updateSpecies()">
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          <!-- Goi ham them va dong modal -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- modal update addFood -->
                          <div class="modal fade" id="addFood">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title">Chỉnh sửa thức ăn</h4> <br>
                                      </div>
  
                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                          <h5 style="color:green;margin-bottom:2%" id="success_update_food">Success! Tx ID: {{update_food}}</h5>
                                          <h5 style="color:red;margin-bottom:2%" id="error_update_food">Error: Please enter a valid Id</h5>
                                          
                                          Nhập thức ăn: <input class="form-control" placeholder="Ex: cám" ng-model="farm.food">
  
                                          <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                      </div>
                                      <div class="modal-footer">
                                          <input  type="submit" value="Edit" class="btn btn-primary" ng-click="updateFood()">
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          <!-- Goi ham them va dong modal -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- modal update addFarmQualified -->
                          <div class="modal fade" id="addFarmQualified">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                          data-dismiss="modal">x
                                        </button>
                                        <h4 class="modal-title">Chỉnh sửa chất lượng</h4> <br>
                                    </div>

                                   <div class="modal-body">
                                      <div class="modal-body-getkey"></div>
                                        <h5 style="color:green;margin-bottom:2%" id="success_update_farm_qualified">Success! Tx ID: {{update_farm_qualified}}</h5>
                                        <h5 style="color:red;margin-bottom:2%" id="error_update_farm_qualified">Error: Please enter a valid Id</h5>
                                        Nhập chất lượng: <input class="form-control"  placeholder="Ex: *****" ng-model="farm.farmqualified">

                                        <h5>Bạn chắc chắn muốn sửa?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input id="transferSubmit" type="submit" value="Sửa" class="btn btn-primary" ng-click="updateFarmQualified()">
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        <!-- Goi ham them va dong modal -->
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- modal update addLocation -->
                          <div class="modal fade" id="addLocation">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title">Chỉnh sửa địa điểm</h4> <br>
                                      </div>
  
                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                          <h5 style="color:green;margin-bottom:2%" id="success_update_location">Success! Tx ID: {{update_location}}</h5>
                                          <h5 style="color:red;margin-bottom:2%" id="error_update_location">Error: Please enter a valid Id</h5>
                                          
                                          Nhập địa điểm: <input class="form-control" placeholder="Ex: ngã năm" ng-model="farm.location">
  
                                          <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                      </div>
                                      <div class="modal-footer">
                                          <input  type="submit" value="Edit" class="btn btn-primary" ng-click="updateLocation()">
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          <!-- Goi ham them va dong modal -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- modal update addStartDate -->
                          <div class="modal fade" id="addStartDate">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title">Chỉnh sửa ngày nuôi</h4> <br>
                                      </div>
  
                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                          <h5 style="color:green;margin-bottom:2%" id="success_update_start_date">Success! Tx ID: {{update_start_date}}</h5>
                                          <h5 style="color:red;margin-bottom:2%" id="error_update_start_date">Error: Please enter a valid Id</h5>
                                          
                                          Nhập ngày nuôi: <input type="date" name="bday" class="form-control" placeholder="Ex: 10/10/2010" ng-model="farm.startdate">
  
                                          <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                      </div>
                                      <div class="modal-footer">
                                          <input  type="submit" value="Edit" class="btn btn-primary" ng-click="updateStartDate()">
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          <!-- Goi ham them va dong modal -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- modal update addEndDate -->
                          <div class="modal fade" id="addEndDate">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title">Chỉnh sửa ngày xuất chuồng</h4> <br>
                                      </div>
  
                                      
                                      <div class="modal-body">
                                          <div class="modal-body-getkey"></div>
                                          <h5 style="color:green;margin-bottom:2%" id="success_update_end_date">Success! Tx ID: {{update_end_date}}</h5>
                                          <h5 style="color:red;margin-bottom:2%" id="error_update_end_date">Error: Please enter a valid Id</h5>
                                          
                                          Nhập ngày xuất chuồng: <input type="date" name="bday" class="form-control" placeholder="Ex: 10/10/2011" ng-model="farm.enddate">
  
                                          <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                      </div>
                                      <div class="modal-footer">
                                          <input  type="submit" value="Edit" class="btn btn-primary" ng-click="updateEndDate()">
                                          &nbsp;
                                          <button type="button" class="btn btn-danger btn-md"
                                              data-dismiss="modal">
                                              Cancel</button>
                                          <!-- Goi ham them va dong modal -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- modal update addSickCure -->
                          <div class="modal fade" id="addSickCure">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                          data-dismiss="modal">x
                                        </button>
                                        <h4 class="modal-title">Chỉnh sửa thông tin bệnh và điều trị</h4> <br>
                                    </div>

                                    <div class="modal-body">
                                        <div class="modal-body-getkey"></div>
                                        <h5 style="color:green;margin-bottom:2%" id="success_update_sick_cure">Success! Tx ID: {{update_sick_cure}}</h5>
                                        <h5 style="color:red;margin-bottom:2%" id="error_update_sick_cure">Error: Please enter a valid Id</h5>
                                        <!-- Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="farm.id"> -->
                                        Nhập bệnh - điều trị: <input class="form-control" name="assetSelect" placeholder="Ex: tiêu chảy - thuốc" ng-model="farm.sickcure">
                                        <!-- <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()"> -->

                                        <h5>Bạn chắc chắn muốn sửa?</h5>

                                    </div>
                                    <div class="modal-footer">
                                        <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()">
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-md"
                                            data-dismiss="modal">
                                            Cancel</button>
                                        <!-- Goi ham them va dong modal -->
                                    </div>
                                </div>
                            </div>
                          </div>


                          
                              
                          <!-- </div> -->
                          
                      </div>
                      <!-- end tabpanel -->
                  </div>
                  <!-- end tabcontent -->
                </ngb-tabset>
              </div>
            </div>
          </div>  
      </app-home>
    </div>

    <app-footer-home-main _ngcontent-plj-c1="" _nghost-plj-c3="">
      <footer _ngcontent-plj-c3="" class="col-lg-12 text-center">
        <p _ngcontent-plj-c3="" class="text-muted small mb-0 flex-1 text-left">© PSC 2019. Hiếu Linh Lâm.</p>
        <!-- <div _ngcontent-plj-c3="" class="row justify-content-md-right">
          <div _ngcontent-plj-c3="" class="col-auto row">
            <a _ngcontent-plj-c3="" href="https://apps.apple.com/us/app/x%C3%A1c-minh-v%C4%83n-b%E1%BA%B1ng-vdb/id1468072081?ls=1">
              <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - Appstore" class="dw-icon col-auto" src="assets/img/icon/appstore1.png">
            </a>
            <a _ngcontent-plj-c3="" href="https://play.google.com/store/apps/details?id=com.vnpt.kv3.vdb">
              <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - GooglePlay" class="dw-icon col-auto" src="assets/img/icon/chplay1.png">
            </a>
          </div>
        </div> -->
      </footer>
    </app-footer-home-main>

</div>
<!-- <script type="text/javascript" src="../js/filereader.js"></script>
<script type="text/javascript" src="../js/qrcodelib.js"></script>
<script type="text/javascript" src="../js/webcodecamjs.js"></script> -->
<script type="text/javascript" src="../js/moment.js"></script>


<!-- </body> -->
