
<!-- <div > -->
<!-- <body  > -->
<div _ngcontent-hms-c1 ng-controller="appController as tab">
    <!-- <div ng-view></div> -->
    <app-header-home _ngcontent-qht-c1="" _nghost-qht-c2="">
    <nav _ngcontent-qht-c2="" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- button home -->
        <a _ngcontent-abn-c2="" class="navbar-brand" routerlink="/home" ng-reflect-router-link="/home" href="../index.html">
            PSC
            <!-- <img _ngcontent-abn-c2="" alt="SCP" class="brand-image " height="25px" src="home.png" style="opacity: 1"> -->
        </a>
        <div _ngcontent-qht-c2="" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul _ngcontent-qht-c2="" class="navbar-nav mr-auto">
            <li _ngcontent-qht-c2="" class="nav-item d-none d-lg-inline-block">
            <a _ngcontent-qht-c2="" class="nav-link">Phần mềm truy xuất nguồn gốc thịt lợn</a>
            </li>

        </ul>

        <!-- modal login -->
        <!-- <ul _ngcontent-gwf-c2="" class="nav navbar-nav ml-auto">
                <li _ngcontent-gwf-c2="" class="nav-item ">
                  <a _ngcontent-gwf-c2="" class="nav-link btn btn-outline-primary" routerlink="/login" ng-reflect-router-link="/login" href="/views/login.html">
                    <i _ngcontent-gwf-c2="" class="fa fa-sign-in mr-2"></i>
                    <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                      Đăng nhập
                    </span>
                  </a>
                </li>
                <li _ngcontent-gwf-c2="" class="nav-item">
                  <a _ngcontent-gwf-c2="" class="nav-link btn btn-outline-primary bg-white text-dark" routerlink="/signup" ng-reflect-router-link="/signup" style="color:#007bff!important"  href="/signup">
                    <span _ngcontent-gwf-c2="" translate="signup" ng-reflect-translate="signup">Đăng ký</span>
                  </a>
                </li>
                
              </ul> -->

        

        
        </div>

    </nav>
    

    </app-header-home>

    <div _ngcontent-hms-c1="" class="content-wrapper-search">

        <router-outlet _ngcontent-hms-c1=""></router-outlet>

        <app-home _nghost-xxd-c4="">
            <div _ngcontent-xxd-c4="" class="row">
                <div _ngcontent-xxd-c4="" class="col-sm-12">
                <div _ngcontent-xxd-c4="" class="card card-primary">
                    
                    <!-- <div ng-controller="appController"> -->
                    <!-- </div> -->
                    <div class="col-md-6 col-md-offset-3">
                            <form action="/" id="myLogin" name="form">
                              <h2 _ngcontent-xxd-c4="" translate="home.tab-one.title" ng-reflect-translate="home.tab-one.title">
                                  <center>LOGIN</center>
                                </h2>
                              <!-- <center>LOGIN</center> </br> -->
                                <center>
                                    <input _ngcontent-bfd-c4="" 
                                    formcontrolname="idCer" 
                                    id="username" 
                                    ng-model="usernameLogin" type="text" 
                                    ng-reflect-name="idCer" 
                                    class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                    placeholder="Username " required>
                                    
                                    <input _ngcontent-bfd-c4="" 
                                    formcontrolname="idCer" 
                                    id="password" 
                                    ng-model="password" type="password" 
                                    ng-reflect-name="idCer" 
                                    class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                    placeholder="Password " required>
                                    
                                    <!-- <input _ngcontent-bfd-c4="" 
                                    formcontrolname="idCer" 
                                    id="roles" 
                                    ng-model="rolesLogin" type="text" 
                                    ng-reflect-name="idCer" 
                                    class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                    placeholder="Roles " required> -->
                                <!-- <input class="form-control-login" type="text" name="username" id="username" placeholder="Username" ng-model="usernameLogin" required><br> -->
                                <!-- <input class="form-control-login" type="text" name="roles" id="roles" placeholder="Roles" ng-model="rolesLogin" required><br> -->
                                <br>
                                <!-- Password: <input type="password" name="password" id="password" ng-model="password"><br> -->
                                <button type="button" ng-disabled="form.$invalid||isDisabled" ng-click="wrapLogin()" class="btn btn-primary">Login</button>
                                <a type="text"  routerlink="/signup" ng-reflect-router-link="/signup"  href="/views/signup.html">Register</a>
                            </center>
                            </form>
                    </div>
                    

                    

                </div>
                </div>
            </div>  
        
        </app-home>
    
    </div>

    <app-footer-home-main _ngcontent-plj-c1="" _nghost-plj-c3="">
        <footer _ngcontent-plj-c3="" class="col-lg-12 text-center">
            <p _ngcontent-plj-c3="" class="text-muted small mb-0 flex-1 text-left">© PSC 2019. Hiếu Linh Lâm.</p>
            <!-- <div _ngcontent-plj-c3="" class="row justify-content-md-right">
            <div _ngcontent-plj-c3="" class="col-auto row">
                <a _ngcontent-plj-c3="" href="https://apps.apple.com/us/app/x%C3%A1c-minh-v%C4%83n-b%E1%BA%B1ng-vdb/id1468072081?ls=1">
                <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - Appstore" class="dw-icon col-auto" src="assets/img/icon/appstore1.png">
                </a>
                <a _ngcontent-plj-c3="" href="https://play.google.com/store/apps/details?id=com.vnpt.kv3.vdb">
                <img _ngcontent-plj-c3="" alt="VDB - Xác minh văn bằng - GooglePlay" class="dw-icon col-auto" src="assets/img/icon/chplay1.png">
                </a>
            </div>
            </div> -->
        </footer>
    </app-footer-home-main>

    
</div>
<!-- </body> -->
<!-- <script type="text/javascript" src="../app.js"> </script> -->

<!-- </div> -->
