<!-- SPDX-License-Identifier: Apache-2.0 -->
<div _ngcontent-hms-c1 ng-controller="appController as tab">

    <app-header-home _ngcontent-qht-c1="" _nghost-qht-c2="">
      <nav _ngcontent-qht-c2="" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- button home -->
        <a _ngcontent-abn-c2="" class="navbar-brand" routerlink="/home" ng-reflect-router-link="/home" href="../index.html">
          <i _ngcontent-gwf-c2="" class="fa fa-home mr-2"></i>
          <span>PSC</span>
          <!-- <img _ngcontent-abn-c2="" alt="SCP" class="brand-image " height="25px" src="home.png" style="opacity: 1"> -->
        </a>

        <button _ngcontent-vyn-c2="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span _ngcontent-vyn-c2="" class="navbar-toggler-icon"></span></button>


        <div _ngcontent-qht-c2="" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul _ngcontent-qht-c2="" class="navbar-nav mr-auto">
            <li _ngcontent-qht-c2="" class="nav-item d-none d-lg-inline-block">
              <a _ngcontent-qht-c2="" class="nav-link">Phần mềm truy xuất nguồn gốc thịt lợn</a>
            </li>

          </ul>

          <!-- current username -->
          <ul _ngcontent-gwf-c2="" class="nav navbar-nav ml-auto">
            <li _ngcontent-gwf-c2="" class="nav-item ">
              <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" data-toggle="modal" data-target="#viewUserModal">
                <i _ngcontent-gwf-c2="" class="fa fa-user"></i>
                <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                    {{message}}
                </span>
              </a>
              
            </li>
            <li _ngcontent-gwf-c2="" class="nav-item ">
              <a _ngcontent-gwf-c2="" id="clickCurrentUser" ng-click="loadCurrentUser()" class="nav-link btn btn-outline-primary" >
                <!-- <i _ngcontent-gwf-c2="" class="fa fa-sign-in mr-2"></i> -->
                <span _ngcontent-gwf-c2="" translate="signin" ng-reflect-translate="signin">
                    ChainID: {{chainidLocalStorage}}
                </span>
              </a>
              
            </li>
            <li _ngcontent-gwf-c2="" class="nav-item">
                <a _ngcontent-gwf-c2="" class="nav-link btn btn-outline-primary bg-white text-dark" routerlink="/signup" style="color:#007bff!important" ng-reflect-router-link="/signup" href="#/">
                  <span _ngcontent-gwf-c2="" translate="signup" ng-reflect-translate="signup">Logout</span>
                </a>
              </li>
          </ul>

        </div>
      </nav>    

    </app-header-home>

    <div _ngcontent-hms-c1="" class="content-wrapper-search">
      <router-outlet _ngcontent-hms-c1=""></router-outlet>
      <app-home _nghost-xxd-c4="">
          <div _ngcontent-xxd-c4="" class="row">
            <div _ngcontent-xxd-c4="" class="col-sm-12">
              <div _ngcontent-xxd-c4="" class="card card-primary">
                
                <ngb-tabset _ngcontent-xxd-c4="" class="nav-tab-custom-home">

                  <!-- tablist -->
                  <ul role="tablist" class="nav nav-tabs justify-content-start">
                    
                      <ul class="nav nav-pills">
                          <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Thêm thông tin chuỗi</a></li>
                          <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">...</a></li>
                      </ul>

                  </ul>
                  <!-- tablist -->
                        
                  <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" aria-labelledby="ngb-tab-0" id="ngb-tab-0-panel" aria-expanded="true">
                      
                      <div ng-show="tab.isSet(1)">
                        <div _ngcontent-xxd-c4="" class="intro-head pr-2 pl-2"><h2 _ngcontent-xxd-c4="" translate="home.tab-one.title" ng-reflect-translate="home.tab-one.title">
                            <center>Quản lý thông tin Vận chuyển</center></h2>
                        </div>
                            
                        <button class="btn btn-primary" data-toggle="modal" data-target="#insertTransport">
                          <i class="fa fa-plus"></i>
                          Thêm
                        </button>

                            
                        <!-- Truy xuất thông tin Transport -->
                        <center>
                          <div>
                              
                              <div id="box">
                                  <div class="form-group">
                                    <!-- <label>Thêm thông tin Vận chuyển </label> -->
                                    <p><input id="queryTransport" type="hidden" value="Query" class="btn btn-primary" ng-click="queryTransport()"></p>
                                  </div>
                                  <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Id</h5>

                                  <!-- <table id="query_transport" class="table-query-farm" align="center">
                                    <tr class="tr-query-farm">
                                      <th>Mã chuỗi</th>
                                      <th colspan="2">Tên Công ty</th>
                                      <th colspan="2">Người vận chuyển</th>
                                      <th colspan="2">Phương tiện</th>
                                      <th colspan="2">Vấn đề </th>
                                      <th colspan="2">Giải quyết vấn đề</th>
                                      <th colspan="2">Chất lượng vận chuyển</th>
                                      <th colspan="2">Thời gian vận chuyển</th>
                                    </tr>
                                    <tr>
                                      <td>{{chainidLocalStorage}}</td>
                                      <td>{{query_transport.company}}</td>
                                      <td ng-repeat="kkk in query_transport">
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addCompany">
                                            Sửa
                                        </button>
                                        <input type="text" ng-model="getCompany" ng-init="getCompany=kkk.company">
                                      </td>
                                      <td>{{query_transport.transporter}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTransporter">
                                            Sửa
                                        </button>
                                      </td>
                                      <td>{{query_transport.vehicle}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addVehicle">
                                            Sửa
                                        </button>
                                      </td>
                                      <td>{{query_transport.trouble}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTrouble">
                                            Sửa
                                        </button>
                                      </td>
                                      <td>{{query_transport.solution}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addSolution">
                                            Sửa
                                        </button>
                                      </td>
                                      <td>{{query_transport.transport_qualified}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTransportQualified">
                                            Sửa
                                        </button>
                                      </td>
                                      <td>{{query_transport.time}}</td>
                                      <td>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTime">
                                            Sửa
                                        </button>
                                      </td>
                                    </tr>
                                  </table> -->

                                  <table id="query_transport" class="table-query-farm" align="center" > 
                                      
                                      
                                      <tr >
                                        <th >
                                            Mã chuỗi
                                        </th>
                                        <th class="th-members">
                                            {{chainidLocalStorage}}
                                        </th>
                                      </tr>
                                      <!-- <tr ng-repeat="x in query_transport">aaa</tr> -->
                                      <tr >
                                        <th >
                                          Tên Công ty
                                        </th>
                                        <th ng-model="getCompany" id="thcompany" class="th-members">
                                          {{query_transport.company}}
                                          
                                        </th>
                                        <th >
                                          
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addCompany">
                                              Sửa - {{query_transport.company}} 
                                          </button>
                                          
                                          <input ng-model="searchText" type="text" ng-init="searchText=message"/>
                                          <!-- modal update addCompany -->
                                          <div class="modal fade" id="addCompany">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Chỉnh sửa tên Công ty</h4> <br>
                                                    </div>

                                                    <!-- <div class="modal-body">
                                                        <p></p>

                                                    </div> -->
                                                    <div class="modal-body">
                                                        <h5 style="color:green;margin-bottom:2%" id="success_update_company">Success! Tx ID: {{update_company}}</h5>
                                                        <h5 style="color:red;margin-bottom:2%" id="error_update_company">Error: Please enter a valid Id</h5>
                                                        Nhập tên Công ty: <input class="form-control" type="text" ng-model="transport.company" ng-init="transport.company=query_transport.company" placeholder="Ex: TNHH 1TV">
                                                        <input type="text" ng-model="getRole" ng-init="getRole=query_transport.company">
                                                        {{query_transport.company}}
                                                        <h5>Bạn chắc chắn muốn sửa?</h5>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateCompany()">
                                                        &nbsp;
                                                        <button type="button" class="btn btn-danger btn-md"
                                                            data-dismiss="modal">
                                                            Cancel</button>
                                                        <!-- Goi ham them va dong modal -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th>
                                      </tr>

                                      <tr>
                                        <th >
                                          Người vận chuyển
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.transporter}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTransporter">
                                              Sửa
                                          </button>
                                        </th>
                                      </tr>

                                      <tr>
                                        <th >
                                          Phương tiện
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.vehicle}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addVehicle">
                                              Sửa
                                          </button>
                                        </th>
                                      </tr>

                                      <tr >
                                        <th >
                                          
                                          Vấn đề
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.trouble}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTrouble">
                                              Sửa
                                          </button>
                                        </th>
                                      </tr>

                                      <tr >
                                        <th >
                                          Giải quyết vấn đề
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.solution}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addSolution">
                                              Sửa
                                          </button>
                                        </th>
                                      </tr>

                                      <tr >
                                        <th >
                                          Chất lượng vận chuyển
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.transport_qualified}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTransportQualified">
                                              Sửa
                                          </button>
                                        </th>
                                        
                                      </tr>
                                      
                                      <tr>
                                        <th >
                                          Thời gian vận chuyển
                                        </th>
                                        <th class="th-members">
                                          {{query_transport.time}}
                                        </th>
                                        <th>
                                          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addTime">
                                              Sửa
                                          </button>
                                        </th>
                                      </tr>
                                      
                                  </table>

                              </div>
                          </div>
                        </center>
                              
                      </div>

                      <!-- Insert thông tin của công đoạn Farm-->
                      <!-- <div class="col-md-6 col-md-offset-3"> -->
                        
                      <!-- tab set 2  -->
                      <div ng-show="tab.isSet(2)">
                      
                          <!-- Truy xuất thông tin của 1 sản phẩm cụ thể -->
                          <center>
                          <div>
                              <button id="toggleMessage" ng-click="toggle3=!toggle3">
                                  {{toggle3 ? 'Ẩn truy xuất thông tin của 1 sản phẩm cụ thể ' : 'Truy xuất thông tin của 1 sản phẩm cụ thể '}}
                              </button>
                              <div id="box" ng-show="toggle3">
                                  <div class="form-group">
                                    <label>Query a Pork</label><br>
                                    <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Pig Id</h5>
                                    
                                    Enter a ID: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="pig_id">
                                    <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryPig()">
                                  </div>
  
                                  <table id="query_pig" class="table" align="center">
                                    <tr>
                                      <td colspan="7" style="font-size: 35px"> <center>Thông tin</center></td>
                                    </tr>
                                    
                                    <tr>
                                      <th>QRCode</th>
                                      <th>Famer</th>
                                      <th>Species</th>
                                      <th>Food </th>
                                      <th>Sick_Cure</th>
                                      <th>Location</th>
                                      <th>Start_Date</th>
                                      <th>End_Date</th>
                                      <th>Company</th>
                                      <th>Transporter</th>
                                      <th>Vehicle</th>
                                      <th>Trouble</th>
                                      <th>Solution</th>
                                      <th>Qualified</th>
                                      <th>Time</th>
                                      <th>Name</th>
                                      <th>Location</th>
                                      <th>Qualified</th>
                                      <th>Peck_Time</th>
                                      <th>Supermarket</th>
                                      <th>Qualified</th>
                                      <th>Price</th>
                                      <th>Quantity Remaining</th>
                                      <th>MFG</th>
                                      <th>EXP</th>
                                    </tr>
                                    
                                    <tr>
                                      <td>{{query_pig.qrcode}}</td>
                                      <td>{{query_pig.famer}}</td>
                                      <td>{{query_pig.species}}</td>
                                      <td>{{query_pig.food}}</td>
                                      <td>{{query_pig.sick_cure}}</td>
                                      <td>{{query_pig.farm_location}}</td>
                                      <td>{{query_pig.start_date_of_farming}}</td>
                                      <td>{{query_pig.end_date_of_farming}}</td>
                                      <td>{{query_pig.company}}</td>
                                      <td>{{query_pig.transporter}}</td>
                                      <td>{{query_pig.vehicle}}</td>
                                      <td>{{query_pig.trouble}}</td>
                                      <td>{{query_pig.solution}}</td>
                                      <td>{{query_pig.transport_qualified}}</td>
                                      <td>{{query_pig.time}}</td>
                                      <td>{{query_pig.abattoir_name}}</td>
                                      <td>{{query_pig.abattoir_location}}</td>
                                      <td>{{query_pig.abattoir_qualified}}</td>
                                      <td>{{query_pig.peck_time}}</td>
                                      <td>{{query_pig.supermarket_name}}</td>
                                      <td>{{query_pig.supermarket_qualified}}</td>
                                      <td>{{query_pig.price}}</td>
                                      <td>{{query_pig.quantity_remaining}}</td>
                                      <td>{{query_pig.manufacturing_date}}</td>
                                      <td>{{query_pig.expiry_date}}</td>
                                    </tr>
                                    
                                  </table>
                              </div>
                          </div>
                          </center>
                      </div>
                        <!-- end tabset2 -->
                            
                    </div>
                    <!-- end tabpanel -->

                    <!-- modal insertTransport -->
                    <div class="modal fade" id="insertTransport">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                      data-dismiss="modal">x
                                    </button>
                                    <h4 class="modal-title" > Thêm thông tin Vận chuyển</h4> <br>
                                </div>

                                <!-- <div class="modal-body">
                                    <p></p>

                                </div> -->
                                <div class="modal-body">
                                    <form name="form">
                                        <!-- <h2 _ngcontent-xxd-c4="" translate="home.tab-one.title" ng-reflect-translate="home.tab-one.title">
                                                <center>Thêm thông tin chuỗi vận chuyển</center>
                                        </h2> -->
                                        </center>
                                        <!-- <label>Thêm thông tin chuỗi</label><br> -->
                                        <h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{insert_transport}}</h5>
                                        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Id</h5>
                                        <!-- <input _ngcontent-bfd-c4="" 
                                          ng-model="farm.id" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="ID " required> <br> -->
                                        <!-- <input class="form-control" name="assetSelect" placeholder="ID" ng-model="farm.id"> -->
                                        <!-- <input class="form-control" name="assetSelect" placeholder="Mã QR" ng-model="farm.qrcode"> -->
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.company" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Công ty " required> <br> 
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.transporter" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Người vận chuyển" required> <br>
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.vehicle" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Phương tiện" required> <br>
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.trouble" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Vấn đề" required> <br>
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.solution" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Giải quyết" required> <br>
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.transport_qualified" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Chất lượng vận chuyển" required> <br>
                                        <input _ngcontent-bfd-c4="" 
                                          ng-model="transport.time" type="text" 
                                          class="input-custom-control form-control form-control-lg ng-pristine ng-invalid ng-touched" 
                                          placeholder="Thời gian vận chuyển" required><br>
                                        <!-- <button type="button" ng-disabled="form.$invalid" ng-click="insertFarm()" class="btn btn-primary">Add</button> -->
                                        </center>
                                      </form>

                                    <h5>Bạn chắc chắn muốn thêm?</h5>

                                </div>
                                <div class="modal-footer">
                                    <input id="transferSubmit" type="submit" ng-disabled="form.$invalid" value="Add" class="btn btn-primary" ng-click="insertTransport()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                      
                      
                    <!--Modal view user-->
                    <div class="modal fade" id="viewUserModal">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                        data-dismiss="modal">x</button>
                                    <h4 class="modal-title">Thông tin</h4> <br>
                                </div>
                                <div class="modal-body" style="overflow-x:auto;">
                                    <div class="form-group" >
                                      <p><input id="queryViewUser" type="hidden" value="Query" class="btn btn-primary" ng-click="queryViewUser()"></p>
                                    </div>
                                    
                                    <table id="query_view_user" class="table-approve-user" align="center" > 
                          
                                        <tr >
                                          <th >
                                              ID 
                                          </th>
                                          <th class="th">
                                              {{iduserLocalStorage}}
                                          </th>
                                        </tr>

                                        <tr>
                                          <th >
                                              Username
                                          </th>
                                          <th class="th">
                                              {{query_view_user.username}}
                                          </th>
                                        </tr>

                                        <tr>
                                          <th >
                                              Password
                                          </th>
                                          <th class="th">
                                              {{query_view_user.password}}
                                          </th>
                                          <th>
                                              <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editPassword">
                                                  <i
                                                  class="fa fa-edit"></i>
                                                  Edit
                                                </button>
                                          </th>
                                        </tr>

                                        <tr>
                                          <th >
                                              Email
                                          </th>
                                          <th class="th">
                                              {{query_view_user.email}}
                                          </th>
                                          <th>
                                              <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editEmail">
                                                  <i
                                                  class="fa fa-edit"></i>
                                                  Edit
                                                </button>
                                          </th>
                                        </tr>

                                        <tr >
                                          <th >
                                            
                                              Chain ID 
                                          </th>
                                          <th class="th">
                                              {{query_view_user.chainid}}
                                          </th>
                                        </tr>

                                        <tr >
                                          <th >
                                              Roles
                                          </th>
                                          <th class="th">
                                              {{query_view_user.roles}}
                                          </th>
                                        </tr>

                                        <tr >
                                          <th >
                                              Status
                                          </th>
                                          <th class="th">
                                            {{query_view_user.status}}
                                          </th>
                                          
                                        </tr>
                                        
                                        <tr>
                                          <th >
                                              Approve
                                          </th>
                                          <th class="th">
                                              {{query_view_user.approve}}
                                          </th>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End modal view user-->

                    <!-- modal editPassword -->
                    <div class="modal fade" id="editPassword">
                      <div class="modal-dialog">
                          
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close"
                                    data-dismiss="modal">x
                                  </button>
                                  <h4 class="modal-title">Đổi mật khẩu</h4> <br>
                              </div>
                              

                              
                              <div class="modal-body">
                                <form name="liveForm">
                                  <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                  <h5 style="color:red;margin-bottom:2%" id="error_editPassword">Error: Please enter a valid Id</h5>
                                  
                                  <label>Id cần đổi mật khẩu:</label>  
                                  <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                  <br>

                                  <label>Mật khẩu mới:</label>  
                                  <input class="form-control" name="user.password" placeholder="Mật khẩu" ng-model="user.password">
                                  <br>

                                  <label>Nhập lại mật khẩu:</label>  

                                  <input type="password" name="repeatPass" ng-model="repeatPass" required compare-to="user.password" class="form-control" />   

                                  <span class="error text-danger" ng-show="liveForm.repeatPass.$error.compareTo">  

                                      Passwords don't match.  

                                  </span>
                                </form>

                                  <h5 align="right">Bạn đã chắc chắn?</h5>

                              </div>
                              <div class="modal-footer">
                                  <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changePassword()" >
                                  &nbsp;
                                  <button type="button" class="btn btn-danger btn-md"
                                      data-dismiss="modal">
                                      Cancel</button>
                                  
                              </div>
                          </div>
                      </div>
                    </div>
                    
                    <!-- modal editEmail -->
                    <div class="modal fade" id="editEmail">
                        <div class="modal-dialog">
                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                      data-dismiss="modal">x
                                    </button>
                                    <h4 class="modal-title">Chỉnh sửa Email</h4> <br>
                                </div>
                                

                                
                                <div class="modal-body">
                                  <!-- <form name="liveForm"> -->
                                    <!-- <h5 style="color:green;margin-bottom:2%" id="success_editChainID">Success! Tx ID: {{edit_chainid}}</h5> -->
                                    <h5 style="color:red;margin-bottom:2%" id="error_editEmail">Error: Please enter a valid Id</h5>
                                    <span>Id cần đổi email:</span>
                                    
                                    <input class="form-control" name="assetSelect" placeholder="Ex: user1" ng-model="user.id">
                                    
                                    <span>Email mới:</span><br>
                                    
                                    <input class="form-control" name="user.email" placeholder="Email" ng-model="user.email">
                                    <br>

                                    
                                  <!-- </form> -->

                                    <h5>Bạn đã chắc chắn?</h5>

                                </div>
                                <div class="modal-footer">
                                    <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="changeEmail()" >
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                            
                    <!-- modal update addFamer -->
                    <div class="modal fade" id="addFamer">
                      <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title">Edit value</h4> <br>
                              </div>

                              <!-- <div class="modal-body">
                                  <p></p>

                              </div> -->
                              <div class="modal-body">
                                  <h5 style="color:green;margin-bottom:2%" id="success_update_famer">Success! Tx ID: {{update_famer}}</h5>
                                  <h5 style="color:red;margin-bottom:2%" id="error_update_famer">Error: Please enter a valid Id</h5>
                                  Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="farm.id">
                                  Enter a famer: <input class="form-control" name="assetSelect" placeholder="Ex: hieulinh" ng-model="farm.famer">
                                  <!-- <input id="transferSubmit" type="submit" value="Add" class="btn btn-primary" ng-click="updateFamer()"> -->

                                  <h5>Bạn chắc chắn muốn sửa?</h5>

                              </div>
                              <div class="modal-footer">
                                  <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateFamer()">
                                  &nbsp;
                                  <button type="button" class="btn btn-danger btn-md"
                                      data-dismiss="modal">
                                      Cancel</button>
                                  <!-- Goi ham them va dong modal -->
                              </div>
                          </div>
                      </div>
                    </div>

                    <!-- modal update addSickCure -->
                    <div class="modal fade" id="addSickCure">
                      <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close"
                                    data-dismiss="modal">x
                                  </button>
                                  <h4 class="modal-title">Edit value</h4> <br>
                              </div>

                              <div class="modal-body">
                                  <p></p>

                              </div><div class="modal-body">
                                  <h5 style="color:green;margin-bottom:2%" id="success_update_sick_cure">Success! Tx ID: {{update_sick_cure}}</h5>
                                  <h5 style="color:red;margin-bottom:2%" id="error_update_sick_cure">Error: Please enter a valid Id</h5>
                                  Enter a id: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="farm.id">
                                  Enter a sick-cure: <input class="form-control" name="assetSelect" placeholder="Ex: hieulinh" ng-model="farm.sick_cure">
                                  <!-- <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()"> -->

                                  <h5>Bạn chắc chắn muốn sửa?</h5>

                              </div>
                              <div class="modal-footer">
                                  <input id="transferSubmit" type="submit" value="Edit" class="btn btn-primary" ng-click="updateSickCure()">
                                  &nbsp;
                                  <button type="button" class="btn btn-danger btn-md"
                                      data-dismiss="modal">
                                      Cancel</button>
                                  <!-- Goi ham them va dong modal -->
                              </div>
                          </div>
                      </div>
                    </div>

                    

                    <!-- modal update addTransporter -->
                    <div class="modal fade" id="addTransporter">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa tên Người vận chuyển</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_transporter">Success! Tx ID: {{update_transporter}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_transporter">Error: Please enter a valid Id</h5>
                                    Nhập tên Người vận chuyển: <input class="form-control" placeholder="Ex: Hiếu Linh Lâm" ng-model="transport.transporter">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateTransporter()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal update addVehicle -->
                    <div class="modal fade" id="addVehicle">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa tên Phương tiện</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_vehicle">Success! Tx ID: {{update_vehicle}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_vehicle">Error: Please enter a valid Id</h5>
                                    Nhập tên Phương tiện: <input class="form-control" placeholder="Ex: Xe tải" ng-model="transport.vehicle">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateVehicle()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal update addTrouble -->
                    <div class="modal fade" id="addTrouble">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa tên Vấn đề</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_trouble">Success! Tx ID: {{update_trouble}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_trouble">Error: Please enter a valid Id</h5>
                                    Nhập tên tên vấn đề: <input class="form-control" placeholder="Ex: vấn đề" ng-model="transport.trouble">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateTrouble()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal update addSolution -->
                    <div class="modal fade" id="addSolution">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa cách giải quyết</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_solution">Success! Tx ID: {{update_solution}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_solution">Error: Please enter a valid Id</h5>
                                    Nhập cách giải quyết: <input class="form-control" placeholder="Ex: giải quyết" ng-model="transport.solution">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateSolution()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal update addTransportQualified -->
                    <div class="modal fade" id="addTransportQualified">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa chất lượng vận chuyển</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_transportqualified">Success! Tx ID: {{update_transportqualified}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_transportqualified">Error: Please enter a valid Id</h5>
                                    Nhập chất lượng vận chuyển: <input class="form-control" placeholder="Ex: 5 sao" ng-model="transport.transportqualified">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateTransportQualified()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal update addTime -->
                    <div class="modal fade" id="addTime">
                        <div class="modal-dialog">
  
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa thời gian vận chuyển</h4> <br>
                                </div>

                                <div class="modal-body">
                                    <h5 style="color:green;margin-bottom:2%" id="success_update_time">Success! Tx ID: {{update_time}}</h5>
                                    <h5 style="color:red;margin-bottom:2%" id="error_update_time">Error: Please enter a valid Id</h5>
                                    Nhập thời gian vận chuyển: <input type="date" name="bday" class="form-control" placeholder="Ex: 5 sao" ng-model="transport.time">
  
                                    <h5>Bạn chắc chắn muốn sửa?</h5>
  
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Sửa" class="btn btn-primary" ng-click="updateTime()">
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-md"
                                        data-dismiss="modal">
                                        Cancel</button>
                                    <!-- Goi ham them va dong modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                              
                  </div>
                  <!-- end tabcontent -->

                </ngb-tabset>
              </div>
            </div>
          </div>  
      </app-home>
    </div>

    <app-footer-home-main _ngcontent-plj-c1="" _nghost-plj-c3="">
      <footer _ngcontent-plj-c3="" class="col-lg-12 text-center">
        <p _ngcontent-plj-c3="" class="text-muted small mb-0 flex-1 text-left">© PSC 2019. Hiếu Linh Lâm.</p>
      </footer>
    </app-footer-home-main>

</div>
  